
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["login"] == null)
{
    Response.Redirect("Login");
}
@if (Session["role"] != null)
{
    int role = (Int32)Session["role"];

    if (role != 3)
    {
        Response.Redirect("Login");
    }
}
<h2>Welcome Client</h2>

<div>
    <table class="table">

        <tr>
            <td>  Balance</td>
            <td> @ViewBag.Balance</td>

        </tr>
        <tr>
            <td>     Free Petrol </td>
            <td> @ViewBag.FreePetrol</td>

        </tr>
</table>
</div>
